[submodule "Dependencies/RxSwift"]
	path = Dependencies/RxSwift
	url = git@github.com:ReactiveX/RxSwift.git
[submodule "Dependencies/RxOptional"]
	path = Dependencies/RxOptional
	url = git@github.com:RxSwiftCommunity/RxOptional.git
